<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/game/base.css" />
    <link rel="stylesheet" href="/stylesheets/game/board.css" />
    <link rel="stylesheet" href="/stylesheets/game/game-status.css" />
    <link rel="stylesheet" href="/stylesheets/game/modal.css" />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
    />

    <style>
        :root {
            --board-dark: <%=color.board.dark %>;
            --board-light: <%=color.board.light %>;
        }
    </style>
</head>

<body>
    <div id="game-container">
        <div id="board"></div>
        <div id="game-info">
            <div class="info-container">
                <div id="opponent-info">
                    <p>
                        Opponent:
                        <span id="opponent-nickname">N/A</span>
                    </p>
                </div>
                <div class="button-group">
                    <button class="game-button" id="button-p2w" title="Buy an advantage over your opponent" disabled>
                        <span class="material-icons">paid</span>
                    </button>
                    <button class="game-button" id="button-resign" title="Resign the game" disabled>
                        <span class="material-icons">flag</span>
                    </button>
                </div>
                <div id="move-list-container">
                    <h3>Move list</h3>
                    <div id="move-list-wrapper">
                        <div id="move-list"></div>
                    </div>
                </div>
            </div>

            <div id="game-status" class="waiting-for-players">
                <p>
                    Game status:
                    <span id="game-status-text">Waiting for players</span>
                </p>
            </div>
        </div>
    </div>

    <div id="main-modal" class="modal">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <h1 id="modal-title"></h1>
            <hr />
            <p id="modal-text"></p>
        </div>
    </div>

    <template id="template-even-row">
        <div class="square even-row"></div>
    </template>
    <template id="template-odd-row">
        <div class="square odd-row"></div>
    </template>
    <template id="template-piece">
        <img class="piece-img" draggable="true" />
    </template>
    <template id="template-move">
        <div class="move-wrapper">
            <div class="move">
                <span class="move-text"></span>
            </div>
        </div>
    </template>

    <script src="/js/game/main.js" type="module"></script>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AQW7-4J6tGdAA7VhEyAUPKccYoBzWUKubpLh0tQ1nov6Fp6G7kUjss32UoQ6ZRW25BEyJh5Wk0Xw1Zk1&currency=USD"></script>
</body>
