<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/game/base.css" />
    <link rel="stylesheet" href="/stylesheets/game/board.css" />
    <link rel="stylesheet" href="/stylesheets/game/game-status.css" />
    <link rel="stylesheet" href="/stylesheets/game/modal.css" />
    <link rel="stylesheet" href="/stylesheets/game/inventory.css" />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
    />

    <style>
        :root {
            --board-dark: <%=color.board.dark %>;
            --board-light: <%=color.board.light %>;
        }
    </style>
</head>

<body>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AQW7-4J6tGdAA7VhEyAUPKccYoBzWUKubpLh0tQ1nov6Fp6G7kUjss32UoQ6ZRW25BEyJh5Wk0Xw1Zk1&currency=EUR&disable-funding=credit,card,ideal,bancontact,sofort,venmo,sepa,p24,mybank,mercadopago,giropay,eps,blik"></script>

    <div id="game-container">
        <div id="board"></div>
        <div id="game-info">
            <div class="info-container">
                <div id="opponent-info">
                    <p>
                        Opponent:
                        <span id="opponent-nickname">N/A</span>
                    </p>
                </div>
                <div id="misc-status">
                </div>
                <div class="button-group">
                    <button
                        class="game-button"
                        id="button-p2w"
                        title="Buy an advantage over your opponent"
                    >
                        <span class="material-icons">paid</span>
                    </button>
                    <button
                        class="game-button"
                        id="button-resign"
                        title="Resign the game"
                        disabled
                    >
                        <span class="material-icons">flag</span>
                    </button>
                    <button
                        class="game-button"
                        id="button-inventory"
                        title="Open your item inventory"
                    >
                        <span class="material-icons">inventory</span>
                    </button>
                </div>
                <div id="move-list-container">
                    <h3>Move list</h3>
                    <div id="move-list-wrapper">
                        <div id="move-list"></div>
                    </div>
                </div>
            </div>

            <div id="game-status" class="waiting-for-players">
                <p>
                    Game status:
                    <span id="game-status-text">Waiting for players</span>
                </p>
            </div>
        </div>
    </div>

    <div id="main-modal" class="modal-container">
        <div class="modal-background">
            <div class="modal">
                <h2 id="modal-title"></h2>
                <p id="modal-text"></p>
            </div>
        </div>
    </div>

    <div id="payments-modal" class="modal-container">
        <div class="modal-background">
            <div class="modal">
                <h2 id="modal-title">Select your weapon</h2>
                <div class="listings-continer">
                    <div class="listing">
                        <div class="listing-entry">
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/assassination.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">Assassination</h4>
                                <p class="listing-subtitle">
                                    Remove any piece from the board (except the
                                    kings)
                                </p>
                            </div>
                            <div class="payment-container">
                                <p class="price">
                                    <span class="price-currency">$</span>4.99
                                </p>
                                <div id="pp-btn-assassination"></div>
                            </div>
                        </div>
                    </div>

                    <div class="listing">
                        <div class="listing-entry">
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/drunk.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">Drunk</h4>
                                <p class="listing-subtitle">
                                    Your oponent will play a random move on
                                    their next turn
                                </p>
                            </div>
                            <div class="payment-container">
                                <p class="price">
                                    <span class="price-currency">$</span>2.99
                                </p>
                                <div id="pp-btn-drunk"></div>
                            </div>
                        </div>
                    </div>

                    <div class="listing">
                        <div class="listing-entry">
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/donderslag.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">
                                    Delftse Donderslag
                                </h4>
                                <p class="listing-subtitle">
                                    Those who know, know.
                                </p>
                            </div>
                            <div class="payment-container">
                                <p class="price">
                                    <span class="price-currency">$</span>1654.00
                                </p>
                                <div id="pp-btn-donderslag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="inventory-modal" class="modal-container">
        <div id="inventory" class="modal-background">
            <div class="modal">
                <h2 id="modal-title">Inventory</h2>
                <div class="listings-continer">
                    <div class="inventory-item-wrapper">
                        <div
                            class="inventory-item"
                            data-item-id="assassination"
                        >
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/assassination.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">Assassination</h4>
                                <p class="listing-subtitle">
                                    Remove any piece from the board (except the
                                    kings)
                                </p>
                            </div>
                            <div class="item-count-container">
                                <p class="item-count">0</p>
                                <div class="item-use-button-container">
                                    <button
                                        id="btn-assassination"
                                        class="inventory-button"
                                        disabled
                                    >
                                        Use
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listing">
                        <div class="inventory-item" data-item-id="drunk">
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/drunk.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">Drunk</h4>
                                <p class="listing-subtitle">
                                    Your oponent will play a random move on
                                    their next turn
                                </p>
                            </div>
                            <div class="item-count-container">
                                <p class="item-count">0</p>
                                <div class="item-use-button-container">
                                    <button
                                        id="btn-drunk"
                                        class="inventory-button"
                                        disabled
                                    >
                                        Use
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listing">
                        <div class="inventory-item" data-item-id="donderslag">
                            <div class="listing-img-container">
                                <img
                                    src="/images/weapons/donderslag.png"
                                    alt="Assassination"
                                />
                            </div>
                            <div class="listing-content">
                                <h4 class="listing-title">
                                    Delftse Donderslag
                                </h4>
                                <p class="listing-subtitle">
                                    Those who know, know.
                                </p>
                            </div>
                            <div class="item-count-container">
                                <p class="item-count">0</p>
                                <div class="item-use-button-container">
                                    <button
                                        id="btn-donderslag"
                                        class="inventory-button"
                                        disabled
                                    >
                                        Use
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="template-even-row">
        <div class="square even-row"></div>
    </template>
    <template id="template-odd-row">
        <div class="square odd-row"></div>
    </template>
    <template id="template-piece">
        <img class="piece-img" draggable="true" />
    </template>
    <template id="template-move">
        <div class="move-wrapper">
            <div class="move">
                <span class="move-text"></span>
            </div>
        </div>
    </template>

    <script src="/js/game/main.js" type="module"></script>
</body>
