<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/gamestyle.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <style>
        :root {
            --board-dark: <%=color.board.dark %>;
            --board-light: <%=color.board.light %>;
        }
    </style>
</head>

<body>
    <div id="board">
    </div>

    <template id="template-even-row">
        <div class="square even-row">
        </div>
    </template>
    <template id="template-odd-row">
        <div class="square odd-row"></div>
    </template>
    <template id="template-piece">
        <img class="piece-img" draggable="true" />
    </template>

    <script src="/js/game/main.js" type="module"></script>
</body>