<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/splash.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <div class="hero-image">
        <div class="hero-content">
            <h1>Pay-to-win Chess</h1>
            <h2>The <b>most thrilling</b> game of chess you'll <b>ever</b> play</h2>
            <button class="button"><span>Join a game</span></button>
        </div>
    </div>
</body>

</html>