<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/splash.css" />
        <link rel="stylesheet" href="/stylesheets/screencheck.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
        />
    </head>

    <body>
        <div id="player-sidebar" class="sidebar-left">
                <div class="sidebar-title">
                    <%= players.length %>
                </div>
                <% players.forEach(function (player) { %>
                    <div class="player"><%= player %></div>
                <% }); %>
        </div>

        <div id="stats-div" class="stats-div">
            <span>Games played in total: <%= nGamesPlayed %></span>
        </div>
    
        <div class="hero-image">
            <div class="hero-content">
                <h1>Pay-to-win Chess</h1>
                <h2>
                    The <b>most thrilling</b> game of chess you'll
                    <b>ever</b> play
                </h2>
                <hr />
                <div class="input-container">
                    <input
                        id="nickname-input"
                        class="text-input"
                        type="text"
                        placeholder="Enter your nickname"
                        maxlength="32"
                    />
                </div>
                <button id="join-game-button" class="button button-primary">
                    <span>Join a game</span>
                </button>
                <br>
                <label for="join-game-button" class="join-button-label">
                    <a id="rules-modal-link" href='#'>Rules</a>
                </label>
                <!-- <button class="button button-secondary"><span>Host a private game</span></button> -->
            </div>
        </div>

        <script src="/js/splash.js"></script>
    </body>
</html>
