body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  grid-auto-flow: row;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even-row:nth-of-type(even),
.odd-row:nth-of-type(odd) {
  background-color: var(--board-dark);
}

.even-row:nth-of-type(odd),
.odd-row:nth-of-type(even) {
  background-color: var(--board-light);
}
