body,
html {
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.nav-element {
    float: left;
}

.nav-element.nav-element-right {
    float: right;
}

.nav-element > div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hero-image {
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/images/splash/hero-bg.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: margin-left 0.5s;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

.button {
    border-radius: 4px;
    border: none;
    background-color: #f4511e;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
}

.button.button-primary {
    background-color: #103275;
}

.button.button-secondary {
    background-color: #7aa7ff;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\0000BB";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.input-container {
    width: 100%;
    margin-bottom: 10px;
    min-height: 48px;
}

.text-input {
    box-sizing: border-box;
    outline: none;
    height: 48px !important;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #bbb;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    font-size: 16px;
    height: 24px;
    text-align: center;
    transition: 0.5s;
}

.text-input:focus {
    transition: 0.5s;
    border-width: 2px;
    border-color: white;
}

.text-input::placeholder {
    color: #bbb;
    opacity: 1;
}

.sidebar-left {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background-image: linear-gradient(
        rgba(21, 58, 49, 0.9),
        rgba(88, 123, 65, 0.8)
    );
    counter-reset: player;
    color: white;
    border-right: 2px solid;
}

.player {
    margin-left: 5px;
}

.player::before {
    counter-increment: player;
    content: counter(player) ". ";
}

.sidebar-title {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: bold;
    margin-left: 5px;
}
.sidebar-title::after {
    content: "Player(s) online:";
}

.join-button-label {
    font-size: 12px;
}
.join-button-label a:active {
    color: yellow;
}

.stats-div {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 2;
    margin-right: 20px;
    margin-top: 20px;
}
