body,
html {
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/images/game/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: "#0f1240";
}
