#game-info {
    height: 640px;
    width: 320px;
    background-color: var(--board-dark);
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container {
    max-height: calc(100% - 3em);
}

#game-status {
    max-height: 25%;
    margin: 0;
    width: 100%;
    min-height: 3em;
    background-color: #444;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-status.playing {
    background-color: rgb(17, 104, 0);
    color: white;
}

#game-status.waiting-for-players {
    background-color: rgb(99, 19, 153);
    color: white;
}

#game-status.aborted {
    background-color: rgb(124, 0, 0);
    color: white;
}

#game-status.won {
    background-color: rgb(174, 255, 98);
    color: black;
}

#game-status.lost {
    background-color: rgb(255, 85, 85);
    color: black;
}

#game-status.draw {
    background-color: rgb(202, 202, 202);
    color: black;
}

#opponent-info {
    margin: 0;
    width: 100%;
    min-height: 3em;
    max-height: 25%;
    font-size: 1.2em;
    background-color: rgb(132, 171, 255);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#move-list-container {
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 100px);
}

#move-list-wrapper {
    min-height: 400px;
    height: calc(100% - 130px);
    overflow-y: auto;
}

#move-list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-rows: repeat(auto-fill, 30px);
}

.move {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.move-wrapper {
    display: flex;
    justify-content: center;
}

.move-wrapper:nth-of-type(even) > .move {
    background-color: black;
    color: white;
}

.button-group {
    display: flex;
}

.button-group button {
    cursor: pointer;
    float: left;
    padding: 10px 24px;
    border: none;
    flex-grow: 1;
}
.button-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.game-button:disabled {
    cursor: default;
}

#button-p2w {
    background-color: rgb(219, 162, 18);
    color: white;
    transition: linear 0.5s;
}
#button-p2w:disabled {
    background-color: rgb(187, 187, 187);
}
#button-p2w:hover:enabled {
    background-color: rgb(236, 200, 109);
}

#button-resign {
    background-color: rgb(189, 69, 22);
    color: white;
    transition: linear 0.5s;
}
#button-resign:disabled {
    background-color: rgb(120, 120, 120);
}
#button-resign:hover:enabled {
    background-color: rgb(209, 121, 87);
}

#button-inventory {
    background-color: rgb(0, 92, 69);
    color: white;
    transition: linear 0.5s;
}
#button-inventory:disabled {
    background-color: rgb(90, 90, 90);
}
#button-inventory:hover:enabled {
    background-color: rgb(0, 122, 86);
}
