#main-modal {
    z-index: 3;
}

#payments-modal {
    z-index: 2;
}

#inventory-modal {
    z-index: 1;
}

#main-modal .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#main-modal .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}
